!!!
html
  head
    title Mapboard
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="http://maps.google.com/maps/api/js?sensor=false")
    script(src='/socket.io/socket.io.js')
    script(data-main='/javascripts/main', src='/javascripts/vendor/require-jquery.js')
  body!= body
